{% extends 'base.html' %}

{% block content %}
<h1>edit</h1>
<hr>

<form action="{% url 'articles:update' article.pk %}"  method="POST">
    {% csrf_token %}
    <label for="title"> 제목 : </label>
    <input type="text" id="title" name="title" value="{{article.title}}">
    <hr>
    <label for="content">내용 : </label>
    <textarea name="content" id="content" cols="30" rows="10">

        {{article.content}}
    </textarea>
    <input type="submit" class="btn btn-success">



</form>


<a href="{% url 'articles:index' %}" class="btn btn-success">목록</a>



{% endblock content %}